/*
* ================
*   HEADER & NAV 
* ================
*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__menu {
    @media (max-width: 768px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: var(--body-color);
      transition: 0.4s;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0 0 1rem 1rem;
      z-index: var(--z-fixed);
    }
  }

  &__item {
    margin-bottom: var(--mb-2);
  }

  &__link,
  &__logo,
  &__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
  }

  &__logo {
    user-select: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
      color: var(--first-color);
    }
  }

  &__link {
    transition: 0.3s;

    &:hover {
      color: var(--first-color);
    }
  }

  &__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*
* ================
*   SCROLL TOP 
* ================
*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(6, 156, 84, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;

  &:hover {
    background-color: var(--first-color-alt);
  }

  &__icon {
    font-size: 1.8rem;
    color: var(--body-color);
  }
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}
